# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages
- Used Libraries
- Data Science Tools
- Aritmethic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-Learn

|Data Science Tools|
|------------------|
|Jupyter|
|Anaconda|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

_This a simple arithmetic expression to mutiply then add integers_

In [1]:
(3*4)+5

17

_This will convert 200 minutes to hours by diving by 60_

In [2]:
200/60

3.3333333333333335